[defaults]
inventory       = ./inventory/lab
remote_user     = ansible
private_key_file = ~/.ssh/ansible_lab
host_key_checking = False
roles_path      = ./roles

[privilege_escalation]
become       = True
become_method = sudo
become_user  = root
